### Tarefa 01

In [23]:
dados_tratados.to_csv('dados_tratados.csv')

In [24]:
dados=pd.read_csv('/content/dados_tratados.csv')
dados.set_index('ID',inplace=True)
dados

,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,CODE_GENDER_M,...,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,MONTHS_BALANCE,STATUS
ID,,,,,,,,,,,,,,,,,,,,,
5008806,0,112500.0,-21474.0,-1134.0,1.0,0.0,0.0,0.0,2.0,1,...,0,0,0,0,0,0,1,0,0,0
5008806,0,112500.0,-21474.0,-1134.0,1.0,0.0,0.0,0.0,2.0,1,...,0,0,0,0,0,0,1,0,-1,0
5008806,0,112500.0,-21474.0,-1134.0,1.0,0.0,0.0,0.0,2.0,1,...,0,0,0,0,0,0,1,0,-2,0
5008806,0,112500.0,-21474.0,-1134.0,1.0,0.0,0.0,0.0,2.0,1,...,0,0,0,0,0,0,1,0,-3,0
5008806,0,112500.0,-21474.0,-1134.0,1.0,0.0,0.0,0.0,2.0,1,...,0,0,0,0,0,0,1,0,-4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5118649,2,270000.0,-10425.0,-2745.0,1.0,0.0,0.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,-31,0
5118650,2,270000.0,-10425.0,-2745.0,1.0,0.0,0.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,0,0
5118650,2,270000.0,-10425.0,-2745.0,1.0,0.0,0.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,-1,0
5118650,2,270000.0,-10425.0,-2745.0,1.0,0.0,0.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,-2,0
5118650,2,270000.0,-10425.0,-2745.0,1.0,0.0,0.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,-3,0

### Tarefa 02

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [26]:
x=dados.drop('STATUS',axis=1).values
y=dados['STATUS'].values

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.7,random_state=42)

In [28]:
clf=DecisionTreeClassifier()
modelo=clf.fit(X_train,y_train)
y_pred=modelo.predict(X_test)
#vizualizar a arvore

In [43]:

print(confusion_matrix(y_test,y_pred))

[[129972     50]
 [   137     60]]

In [35]:
print(accuracy_score(y_test,y_pred))

0.99856395764059

### Tarefa 03

In [36]:
clf1=DecisionTreeClassifier(max_depth=10,min_samples_split=5, random_state=123)
modelo1=clf1.fit(X_train,y_train)
y_pred1=modelo1.predict(X_test)

In [37]:

print(confusion_matrix(y_test,y_pred1))

[[129995     27]
 [   143     54]]

In [38]:

print(accuracy_score(y_test,y_pred1))

0.9986945069459909

* O modelo não conseguiu classificar nem 0.1% dos contratos  (0.0069882260038877835)

* Se classificasse todos os contratos como **bons** o modelo acertaria 100% uma vez que esse modelo ficou enviesado por conta do desequilibrio das classes.