### Carregando os dados

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [20]:
df=pd.read_csv('/content/b1abb33c4f.csv')
df.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

### Tarefa 01

In [61]:
df.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].mean()

<ipython-input-61-747dd6dbfc48>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].mean()

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### Tarefa 02

In [80]:
meu_aniver=df[df['DTNASC']=='2019-02-24']
meu_aniver.groupby(['SEXO','ESCMAE'])['PESO'].mean()

SEXO       ESCMAE
Feminino   1 a 3 anos         2995.000000
           12 anos ou mais    3342.142857
           4 a 7 anos         3094.285714
           8 a 11 anos        3004.375000
Masculino  4 a 7 anos         3105.000000
           8 a 11 anos        3313.500000
Name: PESO, dtype: float64

### Tarefa 03

In [85]:
df['munResNome'].value_counts()

Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Alvorada D'Oeste              205
Cujubim                       205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: munResNome, dtype: int64

In [88]:
menor_taxa_nascim=df[df['munResNome']=='Castanheiras']

O **Castanheiras** foi o que teve menor número de nascimentos com 32 registros.

In [93]:
menor_taxa_nascim=df[df['munResNome']=='Castanheiras']
menor_taxa_nascim.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].mean()
#Idade média dos pais

<ipython-input-93-2bc552b0c1bc>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  menor_taxa_nascim.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].mean()

              IDADEMAE   IDADEPAI
munResNome
Castanheiras  27.28125  30.392857

In [94]:
#Idade máxima dos pais
menor_taxa_nascim.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].max()

<ipython-input-94-2a2f3d6aba9f>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  menor_taxa_nascim.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].max()

              IDADEMAE  IDADEPAI
munResNome
Castanheiras        39      43.0

In [95]:
#Idade Mínima dos pais
menor_taxa_nascim.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].min()

<ipython-input-95-10c44997b70a>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  menor_taxa_nascim.groupby(['munResNome'])['IDADEMAE','IDADEPAI'].min()

              IDADEMAE  IDADEPAI
munResNome
Castanheiras        17      17.0

### Tarefa 04

In [12]:
nasci_marco=df.loc[(df['DTNASC']>='2019-03-01') & (df['DTNASC']<='2019-03-31')]
nasci_marco['munResNome'].value_counts()
porto_velho=nasci_marco[nasci_marco['munResNome']== 'Porto Velho']

* **Porto Velho** foi o municipio com o maior número de registro de nascimentos no mês de Março.

In [13]:
porto_velho.groupby(['munResNome'])['QTDFILVIVO'].mean()
#Média de filhos vivos

munResNome
Porto Velho    1.295056
Name: QTDFILVIVO, dtype: float64

In [14]:
porto_velho.groupby(['munResNome'])['QTDFILVIVO'].max()
#Máximo de filhos vivos

munResNome
Porto Velho    9.0
Name: QTDFILVIVO, dtype: float64

In [15]:
porto_velho.groupby(['munResNome'])['QTDFILVIVO'].min()
#Mínima de filhos vivos

munResNome
Porto Velho    0.0
Name: QTDFILVIVO, dtype: float64

In [19]:
porto_velho.groupby(['munResNome'])['IDADEPAI'].mean()
#Idade média dos pais

munResNome
Porto Velho    34.629032
Name: IDADEPAI, dtype: float64

In [18]:
porto_velho.groupby(['munResNome'])['IDADEPAI'].max()
#Idade máximo dos pais

munResNome
Porto Velho    62.0
Name: IDADEPAI, dtype: float64

In [17]:
porto_velho.groupby(['munResNome'])['IDADEPAI'].min()
#Idade mínima dos pais

munResNome
Porto Velho    19.0
Name: IDADEPAI, dtype: float64

* É possível identificar que a idade média dos pais são maiores que a idade média das mães.