

### Tarefa 01

In [102]:
import numpy as np
import pandas as pd

In [120]:
data=[[1900,-0.08],[1920,-0.27],[1940,0.12],[1960,-0.03],[1980,0.26],[2000,0.40],[2020,1.02]]
df=pd.DataFrame(data,columns=['ano','anomalia_termica'])
df

    ano  anomalia_termica
0  1900             -0.08
1  1920             -0.27
2  1940              0.12
3  1960             -0.03
4  1980              0.26
5  2000              0.40
6  2020              1.02


### Tarefa 02

In [125]:

df.set_index('ano',inplace= True)

In [126]:

df

      anomalia_termica
ano
1900             -0.08
1920             -0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02


### Tarefa 03

In [131]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
dic_temperaturas=pd.Series(dic_temperaturas)
dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64


### Tarefa 04

In [133]:
arr = np.random.normal(100, 10, (20,3))
dataframe=pd.DataFrame(arr,columns=['coluna1','coluna2','coluna3'])
dataframe

       coluna1     coluna2     coluna3
0   110.767499  100.666797  100.152193
1    99.635091   87.215359   99.082654
2    95.521815   97.021785   94.937705
3    98.949683   94.928285  105.051699
4   108.554673  101.851200  111.571755
5    89.277571  113.404944  114.177368
6   105.372776  108.288209   90.200150
7    95.148230   93.285788  112.632365
8   102.352527   95.778020   96.977272
9    87.700193   96.419412   98.746302
10   98.441035   90.259789   97.267964
11   86.591388   96.209491  111.583249
12   95.605236   89.363561  111.160992
13  116.427274   83.790859   86.426247
14   98.879844   93.110642  109.363633
15  107.675930  103.504632   97.048186
16   95.011684   96.461667  108.678763
17   95.467923   95.302239  110.113826
18  102.189046   84.094610  103.657717
19  123.011512   87.093642   87.767139


### Tarefa 05

In [151]:

dataframe.columns=['x1','x2','x3']
dataframe.index=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']
dataframe

            x1          x2          x3
1   110.767499  100.666797  100.152193
2    99.635091   87.215359   99.082654
3    95.521815   97.021785   94.937705
4    98.949683   94.928285  105.051699
5   108.554673  101.851200  111.571755
6    89.277571  113.404944  114.177368
7   105.372776  108.288209   90.200150
8    95.148230   93.285788  112.632365
9   102.352527   95.778020   96.977272
10   87.700193   96.419412   98.746302
11   98.441035   90.259789   97.267964
12   86.591388   96.209491  111.583249
13   95.605236   89.363561  111.160992
14  116.427274   83.790859   86.426247
15   98.879844   93.110642  109.363633
16  107.675930  103.504632   97.048186
17   95.011684   96.461667  108.678763
18   95.467923   95.302239  110.113826
19  102.189046   84.094610  103.657717
20  123.011512   87.093642   87.767139


### Tarefa 06

In [153]:

dataframe['media']=dataframe['x1']+dataframe['x2']+dataframe['x3']/3
dataframe

            x1          x2          x3       media
1   110.767499  100.666797  100.152193  244.818360
2    99.635091   87.215359   99.082654  219.878001
3    95.521815   97.021785   94.937705  224.189502
4    98.949683   94.928285  105.051699  228.895200
5   108.554673  101.851200  111.571755  247.596458
6    89.277571  113.404944  114.177368  240.741638
7   105.372776  108.288209   90.200150  243.727702
8    95.148230   93.285788  112.632365  225.978140
9   102.352527   95.778020   96.977272  230.456304
10   87.700193   96.419412   98.746302  217.035039
11   98.441035   90.259789   97.267964  221.123479
12   86.591388   96.209491  111.583249  219.995296
13   95.605236   89.363561  111.160992  222.022461
14  116.427274   83.790859   86.426247  229.026882
15   98.879844   93.110642  109.363633  228.445030
16  107.675930  103.504632   97.048186  243.529957
17   95.011684   96.461667  108.678763  227.699606
18   95.467923   95.302239  110.113826  227.474771
19  102.189046   84.094610  103.657717  220.836229
20  123.011512   87.093642   87.767139  239.360867


### Tarefa 07

In [157]:

dataframe['log_med']=np.log(dataframe['media'])
dataframe

            x1          x2          x3       media   log_med
1   110.767499  100.666797  100.152193  244.818360  5.500517
2    99.635091   87.215359   99.082654  219.878001  5.393073
3    95.521815   97.021785   94.937705  224.189502  5.412492
4    98.949683   94.928285  105.051699  228.895200  5.433264
5   108.554673  101.851200  111.571755  247.596458  5.511800
6    89.277571  113.404944  114.177368  240.741638  5.483724
7   105.372776  108.288209   90.200150  243.727702  5.496052
8    95.148230   93.285788  112.632365  225.978140  5.420438
9   102.352527   95.778020   96.977272  230.456304  5.440061
10   87.700193   96.419412   98.746302  217.035039  5.380059
11   98.441035   90.259789   97.267964  221.123479  5.398721
12   86.591388   96.209491  111.583249  219.995296  5.393606
13   95.605236   89.363561  111.160992  222.022461  5.402779
14  116.427274   83.790859   86.426247  229.026882  5.433839
15   98.879844   93.110642  109.363633  228.445030  5.431296
16  107.675930  103.504632   97.048186  243.529957  5.495240
17   95.011684   96.461667  108.678763  227.699606  5.428027
18   95.467923   95.302239  110.113826  227.474771  5.427039
19  102.189046   84.094610  103.657717  220.836229  5.397421
20  123.011512   87.093642   87.767139  239.360867  5.477972